@using WoasApp.ViewModels;
@model RegisterViewModel;

@{
    ViewData["Title"] = "Registration";
}
<link href="~/css/home_bg.css" rel="stylesheet" asp-append-version="true" />

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 100%; max-width: 400px;">
        <h2 class="card-title text-center mt-4">Register</h2>
        <div class="card-body">
            <form asp-action="Register" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="submit" value="Register" class="btn btn-success w-100 p-2" />
                <p class="text-center mt-2">
                    Already have an account? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a>
                </p>
                <div class="text-center">
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
                </div>
            </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}