@using Microsoft.AspNetCore.Identity
@using WoasApp.Areas.Identity.Data

@inject SignInManager<WoasAppUser> SignInManager
@inject UserManager<WoasAppUser> UserManager

<ul class="navbar-nav ms-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item justify-content-center" style="align-self:center">
        Hello @UserManager.GetUserName(User)!
    </li>
    <li class="nav-item p-3">
        <a class="btn btn-primary text-dark" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
    </li>
}
else
{
    <li class="nav-item p-3">
        <a class="btn btn-primary text-dark" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item p-3">
        <a class="btn btn-info text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
