@using Microsoft.AspNetCore.Identity
@using WoasApp.Areas.Identity.Data

@inject SignInManager<WoasAppUser> SignInManager
@inject UserManager<WoasAppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    
}

<link href="~/css/home_bg.css" rel="stylesheet" asp-append-version="true"/>

<div class="card align-items-center p-1">
    @if (TempData["Message"] != null)
        {
            <div class="text-danger">@TempData["Message"]</div>
        }
    <h1 class="display-4 card-title">Welcome to the website</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="card-body"> 
            <p style="text-align:center">Hello, <i>@UserManager.GetUserName(User)!</i> <br /> Proceed to the dashboard to manage other users.</p>

            <div style="display:flex;align-content:center;justify-content: space-between;">
                <img src="~/images/pbjt.gif" class="p-2" style="max-height:64px; max-width:64px; align-self:center" />
                <a class="btn btn-primary p-2" style="max-width:128px; align-self:center" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                <img src="~/images/pbjt.gif" class="p-2" style="max-height:64px; max-width:64px; align-self:center" />
            </div>
        </div>


        
    }
    else
    {
        <p class="card-body">Proceed to login or registration to get access to the dashboard</p>

        <img src="https://imgs.xkcd.com/comics/labyrinth_puzzle.png" style="
            max-width: 90%;
            padding-bottom: 16px;
        ">
    }
</div>
