@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center p-1">
    <h1 class="display-4 card-title">Welcome to the website</h1>
    <p class="card-body">Proceed to login or registration\nto get access to the dashboard</p>
</div>
